<!DOCTYPE html>
<html lang="en">

<!-- THE HEAD TAG PARTIAL -->
<%- include("../partials/head") %>

<body>
    <header>
        <h1>ReminderApp</h1>
        <%- include('../nav.ejs') %>
    </header>
    <h1>Hello and welcome to the profile page</h1>
</body>
</html>